<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Params.summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="theme-color" content="#0b0f15">
<link rel="icon" type="image/svg+xml" href="{{ "img/favicon.svg" | absURL }}">
<link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
<script data-goatcounter="https://hustle-blog.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
